body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, #0083FF, #FFFFFF);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #6cacec;
    padding: 20px;
    border-radius: 15px;
    width: 13vw;
    align-items: center;
}

.login-form input {
    margin-bottom: 10px;
    background-color: #ffffff;
    border: none;
    border-radius: 15px;
    padding: 10px;
}

.login-form .create-account-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.login-form .create-account-button:hover {
    color:#0083FF;
}


@media only screen and (max-device-width: 430px){
    .login-form {
        width: 50vw;
       }
   }

@media only screen and (min-device-width: 430px){
    .sidebar {
        display: none;
    }
   }